@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper1 {
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper1 .swiper-wrapper {
  display: flex !important;
  flex-direction: column !important;
}

.mySwiper1 .swiper-wrapper .swiper-slide {
  width: 100% !important;
}

.image-gallery-image {
  filter: brightness(0.96);
  border-radius: 8px;
}

.mySwiper1 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper1 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fdac21 !important;
  background: black;
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 999999px;
} */

/* jhffffffffffffff */

.mySwiper {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide {
  width: 55% !important;
}

.keen-slider .keen-slider__slide,
.thumbnail .keen-slider__slide {
  width: 10px;
}

.thumbnail .keen-slider__slide.active {
  @apply border-2 border-primary;
}
